Sales Call Agent.json
{
  "name": "Sales Call Agent",
  "nodes": [
    {
      "parameters": {
        "path": "Sales_Agent_Alinaa",
        "formTitle": "AI Solution Request",
        "formDescription": "Tell us about your business and we'll reach out with a tailored AI solution.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "John Smith",
              "requiredField": true
            },
            {
              "fieldLabel": "Business Name",
              "placeholder": "Your Company Ltd.",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "john@company.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Industry / Business Type",
              "placeholder": "e.g. Retail, Healthcare, E-commerce",
              "requiredField": true
            },
            {
              "fieldLabel": "What problem are you trying to solve?",
              "fieldType": "textarea",
              "placeholder": "Describe your challenge or goal..."
            },
            {
              "fieldLabel": "Phone Number",
              "placeholder": "e.g. 03001234567",
              "requiredField": true
            },
            {
              "fieldLabel": "Country",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Pakistan"
                  },
                  {
                    "option": "United States"
                  },
                  {
                    "option": "United Kingdom"
                  },
                  {
                    "option": "United Arab Emirates"
                  },
                  {
                    "option": "Saudi Arabia"
                  },
                  {
                    "option": "India"
                  },
                  {
                    "option": "Canada"
                  },
                  {
                    "option": "Australia"
                  },
                  {
                    "option": "Germany"
                  },
                  {
                    "option": "France"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "08081aeb-d067-427d-9dd5-7f965841e9f1",
      "name": "Form - Collect Client Info",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -880,
        272
      ],
      "webhookId": "09fd4926-32ef-4343-926f-8423c1317010"
    },
    {
      "parameters": {
        "jsCode": "// Map country name to international dial code\nconst countryDialCodes = {\n  'Pakistan': '+92',\n  'United States': '+1',\n  'United Kingdom': '+44',\n  'United Arab Emirates': '+971',\n  'Saudi Arabia': '+966',\n  'India': '+91',\n  'Canada': '+1',\n  'Australia': '+61',\n  'Germany': '+49',\n  'France': '+33',\n  'Other': '+1'\n};\n\nconst country = $input.first().json['Country'];\nconst dialCode = countryDialCodes[country] || '+1';\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    dialCode: dialCode,\n    countryResolved: country\n  }\n}];"
      },
      "id": "cc189c94-ed6c-441e-854d-f6a6c8502419",
      "name": "Map Country to Dial Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize phone number to E.164 format required by Retell AI\nconst rawPhone = $input.first().json['Phone Number'] || '';\nconst dialCode = $input.first().json.dialCode || '+1';\n\n// Strip all non-digit characters\nlet digits = rawPhone.replace(/\\D/g, '');\n\n// Remove leading zeros (common in local formats like 0300...)\nif (digits.startsWith('0')) {\n  digits = digits.substring(1);\n}\n\n// Build E.164 number\nlet normalizedPhone;\nif (rawPhone.trim().startsWith('+') || rawPhone.trim().startsWith('00')) {\n  normalizedPhone = '+' + digits;\n} else {\n  normalizedPhone = dialCode + digits;\n}\n\n// Validate: E.164 should be 7–15 digits after the +\nconst digitCount = normalizedPhone.replace('+', '').length;\nconst isValid = digitCount >= 7 && digitCount <= 15;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    normalizedPhone: normalizedPhone,\n    phoneValid: isValid,\n    phoneDigitCount: digitCount\n  }\n}];"
      },
      "id": "a83059a3-81a9-4c52-a538-6c4b26eb57ea",
      "name": "Normalize Phone Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "phone_valid_check",
              "leftValue": "={{ $json.phoneValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "96429a9b-2fdb-4fd8-935f-5fb9263dd14c",
      "name": "Phone Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_0f5c9b5d1c68168691057d41ef1c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+19896935196\",\n  \"to_number\": \"{{ $json.normalizedPhone }}\",\n  \"override_agent_id\": \"agent_be8c1e0b76084db08f138e3246\",\n  \"retell_llm_dynamic_variables\": {\n    \"client_name\": \"{{ $json['Full Name'] }}\",\n    \"business_name\": \"{{ $json['Business Name'] }}\",\n    \"industry\": \"{{ $json['Industry / Business Type'] }}\",\n    \"email\": \"{{ $json['Email Address'] }}\",\n    \"problem_statement\": \"{{ $json['What problem are you trying to solve?'] }}\",\n    \"country\": \"{{ $json.countryResolved }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "88938ac9-5f34-4bee-98ac-58e7237a75e8",
      "name": "Retell AI - Initiate Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    status: data.call_status,\n    call_id: data.call_id,\n    \n    client_name: data.retell_llm_dynamic_variables?.client_name,\n    email: data.retell_llm_dynamic_variables?.email,\n    business_name: data.retell_llm_dynamic_variables?.business_name,\n    industry: data.retell_llm_dynamic_variables?.industry,\n    \n    phone: data.to_number,\n    from_number: data.from_number,\n    \n    call_summary: data.call_analysis?.call_summary,\n    call_successful: data.call_analysis?.call_successful,\n    sentiment: data.call_analysis?.user_sentiment,\n    \n    duration_sec: Math.round(data.duration_ms / 1000),\n    \n    recording: data.recording_url,\n    transcript: data.transcript,\n    \n    start_time: new Date(data.start_timestamp).toISOString(),\n    end_time: new Date(data.end_timestamp).toISOString(),\n    \n    meeting_booked: data.call_analysis?.custom_analysis_data?.meeting_booked || false,\n    meeting_time: data.call_analysis?.custom_analysis_data?.meeting_time || null\n  }\n}];"
      },
      "id": "c9ce06a5-fcf0-4ede-9ea4-9580d1cd579a",
      "name": "Log Call Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log leads with invalid phone numbers for manual follow-up\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'PHONE_INVALID',\n    reason: `Phone has ${data.phoneDigitCount} digits — E.164 requires 7–15`,\n    clientName: data['Full Name'],\n    businessName: data['Business Name'],\n    email: data['Email Address'],\n    rawPhone: data['Phone Number'],\n    normalizedPhone: data.normalizedPhone,\n    country: data.countryResolved,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "9b9d3830-c300-4b2f-9396-d231e920908e",
      "name": "Log Invalid Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3012a23-6c4d-4eb1-a151-dee3e5daa4ab",
              "name": "call_id",
              "value": "={{ $json.body.call_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        176
      ],
      "id": "d0b32f54-0911-4867-a3ae-8d2c76dc08b9",
      "name": "call_id"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        176
      ],
      "id": "fea274f7-98b9-4855-b63b-b402953b520a",
      "name": "Wait",
      "webhookId": "2f3479b7-8f41-4d6c-b3ba-27ac3e208020"
    },
    {
      "parameters": {
        "content": "## User Info\nCollection User information and Normalize the phone Numer for calling.",
        "height": 288,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        144
      ],
      "typeVersion": 1,
      "id": "6c12084e-c8de-4fcd-9c5b-bc4c7d3b21bc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Calling\nInitilize calling and wait until the call ends.",
        "height": 336,
        "width": 1236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1ce4968f-0f53-4267-97df-b8c2f14c5389",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Summary\nExtracting the call summary.",
        "height": 288,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        48
      ],
      "typeVersion": 1,
      "id": "5a371123-859c-4682-9604-190f930bf62f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fb5d55c-5a04-44c7-bdae-ba7ce8c1694d",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "578bc79a-2435-44cc-9895-94e6a8e65a89",
              "name": "call_id",
              "value": "={{ $json.call_id }}",
              "type": "string"
            },
            {
              "id": "ac6ddeaf-63ae-41e0-afd5-df882a0ba4a1",
              "name": "client_name",
              "value": "={{ $json.client_name }}",
              "type": "string"
            },
            {
              "id": "888814e9-8707-4e04-bdd0-0d5ad45ac9bc",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "37be26cd-5f16-4567-ab20-53a28d5f0706",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ec1e4b91-2d31-43bb-96d7-2c3dfa58c749",
              "name": "business_name",
              "value": "={{ $json.business_name }}",
              "type": "string"
            },
            {
              "id": "21340ec9-8083-43b2-b496-0264ca6ef080",
              "name": "call_summary",
              "value": "={{ $json.call_summary }}",
              "type": "string"
            },
            {
              "id": "b65bf459-d299-46f2-9ef7-c8dae4e9ec48",
              "name": "call_successful",
              "value": "={{ $json.call_successful }}",
              "type": "boolean"
            },
            {
              "id": "bfcf6b04-3489-441f-835b-428b9d95ad43",
              "name": "sentiment",
              "value": "={{ $json.sentiment }}",
              "type": "string"
            },
            {
              "id": "e3242a43-ea6d-4ea9-9ad0-ceed854e2537",
              "name": "duration_sec",
              "value": "={{ $json.duration_sec }}",
              "type": "number"
            },
            {
              "id": "e001395d-ca1a-46e7-a398-89fd332d88d5",
              "name": "Call_recording",
              "value": "={{ $json.recording }}",
              "type": "string"
            },
            {
              "id": "e56206d4-66ea-49f5-8303-41331071d493",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            },
            {
              "id": "2ec4d3a1-627d-4651-a804-49fb98b6f695",
              "name": "start_time",
              "value": "={{ $json.start_time }}",
              "type": "string"
            },
            {
              "id": "08209ae2-c603-4ad9-8ade-c34103001116",
              "name": "end_time",
              "value": "={{ $json.end_time }}",
              "type": "string"
            },
            {
              "id": "fd3a4636-f232-46fb-9cc0-46364e58d322",
              "name": "meeting_booked",
              "value": "={{ $json.meeting_booked }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        176
      ],
      "id": "12c1a260-fa17-45fc-8887-64a290dd55b1",
      "name": "Extracting Summary"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{$json.call_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer -----"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        112
      ],
      "id": "b0c36c0b-4dae-4f77-ad08-3fc30fcdb112",
      "name": "Check End call"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dcd8713a-131e-4dd5-9f83-3ba5c09ede99",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        192
      ],
      "id": "dfc99811-1c75-4924-8ec4-163822bc51c0",
      "name": "If End"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7f48b54b-7676-4553-8218-ff1d1ce569f3",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "not_connected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        48
      ],
      "id": "5f886072-e930-4e23-837a-9e47dc05a152",
      "name": "If"
    }
  ],
  "pinData": {
    "Form - Collect Client Info": [
      {
        "json": {
          "Full Name": "Basit Ali",
          "Business Name": "Json Roy",
          "Email Address": "jsonroy@gmail.com",
          "Industry / Business Type": "E-Commerce",
          "What problem are you trying to solve?": "I want to automate my excek and CRM further we can discuss on call ",
          "Phone Number": "03122960248",
          "Country": "Pakistan",
          "submittedAt": "2026-04-29T13:29:05.659Z",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Form - Collect Client Info": {
      "main": [
        [
          {
            "node": "Map Country to Dial Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Country to Dial Code": {
      "main": [
        [
          {
            "node": "Normalize Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Phone Number": {
      "main": [
        [
          {
            "node": "Phone Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Valid?": {
      "main": [
        [
          {
            "node": "Retell AI - Initiate Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell AI - Initiate Call": {
      "main": [
        [
          {
            "node": "call_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call_id": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check End call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Call Success": {
      "main": [
        [
          {
            "node": "Extracting Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check End call": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If End": {
      "main": [
        [
          {
            "node": "Log Call Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Log Call Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "440b20bb-a545-4323-aa34-7d7a54c848f7",
  "meta": {
    "instanceId": "b61bef42859521ae53dd1f8a2e94aec8ecb8451087534c410518ad3e9a6805e0"
  },
  "id": "uG7boIMrofa5DZ8e",
  "tags": []
}